.chatWindow {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-left: 1px solid #ddd;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.chatWindow__header {
  padding: 20px;
  background-color: #0078d4;
  color: #ffffff;
  border-bottom: 1px solid #005bb5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatWindow__header h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.chatWindow__header .header__actions {
  display: flex;
  align-items: center;
}

.chatWindow__messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f5f5f5;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.chatWindow__input {
  padding: 15px;
  display: flex;
  align-items: center;
  border-top: 1px solid #ddd;
  background-color: #ffffff;
}

.chatWindow__input input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-right: 10px;
  font-size: 14px;
}

.chatWindow__input button {
  margin-left: 10px;
  border: none;
  background-color: #0078d4;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.chatWindow__input button:hover {
  background-color: #005bb5;
}

.senderAndReceiver {
  background-color: #0f5783;
  max-width: 50%;
  text-align: start;
  border-radius: 15px;
  padding: 6px 19px;
  color: white;
  display: flex;
  align-items: center;
  margin: 1px 0px;
}

.sender {
  margin-left: auto;
}

.receiver {
}
